.navbar-brand
{
  padding:0px 15px 0px 15px !important;
}
.navbar-default .navbar-nav>li>a:hover
{
  color:#eee;
  background-color:#23527c  ;
}

/*!TO BE FIXED!*/
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover
{
  color:#eee;
  background-color:#23527c ;
}
.navbar
{
  margin-bottom:0px;
}
.page-header
{
  background:url("http://img15.hostingpics.net/pics/201289headerbackground.png");
  height:860px;
  margin-top:0px;
  padding:128px 32px 32px 64px;
}
.heading-title ,.heading-sub-title
{
  font-family: 'Sorts Mill Goudy', serif;
  text-align:center;
}
.heading-title
{
  font-size:72px;
}
.heading-sub-title
{
   font-size:16px;
  color:#23527c;
}
.fa-6x
{
	font-size:80px;
}
.round-anchor
{
  padding-top:32px;
}
.round-anchor a:link
{
	color:#444;
}
.round-anchor a:hover
{
	color:#23527c;
}
.round-anchor a:active
{
	color:#444;
}


